{% extends "base.html" %}
{% load static %}

{% block title %}Players{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <table class="table table-sm table-striped">
        <thead>
          <tr>
            <th>Player</th>
            <th>Games</th>
            <th>Games Won</th>
            <th>Rounds</th>
            <th>Rounds Won</th>
            <th>K/D ratio</th>
            <th>Kills per round</th>
            <th>Deaths per round</th>
            <th>Assists per round</th>
          </tr>
        </thead>
        <tbody>
          {% for player in object_list %}
          <tr>
            <td><a href="{{ player.get_absolute_url }}">{{ player.username }}</a></td>
            <td>{{ player.num_games }}</td>
            <td>{{ player.win_percentage }}</td>
            <td>{{ player.num_rounds }}</td>
            <td>{{ player.round_win_percentage }}</td>
            <td>{{ player.kill_death_ratio|floatformat:2 }}</td>
            <td>{{ player.kills_per_round|floatformat:2 }}</td>
            <td>{{ player.deaths_per_round|floatformat:2 }}</td>
            <td>{{ player.assists_per_round|floatformat:2 }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}

